#hero {
    width: 100%;
    background-color: steelblue;
    padding: 20px 0px 20px 0px;
    margin:0;
}

#hero header nav{
    color: #ffffff;
    text-align: left;
}


#hero header nav a{
    color: #ffffff;
}


#hero img{
    width: 100%;
}
.hero-box{
    background-color: steelblue;
    margin: 1%;
    padding: 10px;
}
}
.height50{
    height: 50px;
}
  #camping img{
    border: solid;
    margin-top: 10px;
    padding:10px;
  }
#footer{
    background-color: steelblue;
    color: #ffffff
}
#footer a{
    color: #ffffff
}

#footer p{
    color: #ffffff
}
dy {
    background-color: #fcfbfb; 
}
header {
    background-color:rgba(41, 77, 15, 0.7);
}
nav a:hover {
    background-color: #999999;
}

.hero1{
    font-family: 'Rock Salt', cursive;
    font-size: 200;
    color: rgba(15, 17, 14, 0.904);
    margin: 10px;
    padding: 1px;
}
.camping1{
    font-family: 'Rock Salt', cursive;
    font-size: 200;
    color: rgba(15, 17, 14, 0.904);
    margin-bottom: 10px;
    page-break-after: auto;
}
 h1{
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 250%;
    color: rgba(84, 207, 22, 0.904);
 }
 h2{
    font-family: 'Roboto', sans-serif;
 }    
body{
    text-align: center;
}
footer p { 
    text-align: center;
    padding: 0;
   
}

img {
    width: 30%;
     margin: 0px;

}

    main p{
        width: 80%;
        margin: 1px;
        text-align: center;
    }

   
   


