#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 3em;
    right: 1em;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}

.content{
    margin: 0 auto;
}
#mount-img{
    width: 100%;
    height: 100%;
}
.mount-grid {
    text-align: center;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr  1fr 1fr;
   
}
.mount-grid{
    background-color: #6f7364;
    padding: 5px;
    box-shadow: 5px 5px 10px #aae40a;
    border-radius: 10px solid #d9c2a3;
    width: 100%;
    
}
#mountains-box{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 500px;
    justify-content: center;
    
}

#mount-img{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    
}

#mount-title{
    z-index: 1;
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
}
.big-card{
    background-color: #6f7364;
    padding: 5px;
    box-shadow: 5px 5px 10px #6f7364;
    border-radius: 10px solid #d9c2a3;
    width: 100%;
    
    

}
.great-card{
    background-color: #6f7364;
    padding: 5px;
    box-shadow: 5px 5px 10px #6f7364;
    border-radius: 10px solid #d9c2a3;
    width: 100%;
    height: 300px;

}
.beauty-card{
    background-color: #6f7364;
    padding: 5px;
    box-shadow: 5px 5px 10px #6f7364;
    border-radius: 10px solid #d9c2a3;
    width: 100%;
    
   


}
nav a{
    text-align: center;
    text-decoration: none;
    color: #df8a1c;
    padding: 35px
    
 }
 nav {
    display: flex;
    justify-content: space-around;
}
 
 .home-tile{
     color: #d9c2a3;
     font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
     font-size: 2em;
     margin-top: 10px;
 }
 #hero-msg h1{
     text-align: center;
     width: 100%;
     color: whitesmoke;
     padding: 20px 0px 20px 0px;
}
 #hero-msg h4{
     text-align: center;
     color: white;
}
 #hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    

}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
 .button-box{
    text-align: center;
 }
main section{
     text-align: center;
     width: 100%;
 }
 main {
    display: grid;
    grid-template-columns: 1fr 1fr  1fr 1fr  1fr 1fr  1fr 1fr  1fr 1fr;

 }
 #background {
     height: 725px;
     background-color:rgba(20,30,13, .7)
 }
 body {
     background-color: #fcfbfb;
     font-family: 'Fuzzy Bubbles', cursive;
     font-size: 22px;
     margin: 0;
     padding: 0;
 } 

 header {
     background-color:rgba(20,30,13, .7);
     display: grid;
     grid-template-columns: 150px auto;
 }
 nav a:hover {
     background-color: black;
     color: #d9c2a3;
 }
 .join {
     background-color: black;
     text-decoration: none;
     color: #d9c2a3;
     font-size: 18px;
     padding: 15px 30px;
     margin-top: 50px;
     border-radius: 5px;
 }
.book {
    background-color: black;
    text-decoration: none;
    color: #d9c2a3;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
 main section img {
     box-sizing: border-box;
 }
  
 .book:hover{
     background-color:rgba(20,30,13, .7)
 }
 .rivers-card{
    margin: 200px 0;
}
  .camping-card{
      margin: 200px 0;
}
  .rapids-card {
     margin: 200px 0;
 }
 .join:hover{
       background-color: black;
 }
 .msg {
    background-color:#6f7364;
    line-height: 1.5em;
    padding: 35px;
 }
 .msg h2 {
    color: #d9c2a3;
 }
 h2 {
     margin: 0;
 }
 .msg p {
    color: #d9c2a3;
    font-size: .8em;
    padding-bottom: 15px;
 }
 footer {
    background-color: #6f7364;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
 footer a {
      background-color:rgba(20,30,13, .7);
      color: #d9c2a3;
 }
 footer a:hover{
     background-color:rgba(20,30,13, .7);
     text-decoration: underline;
     color: #d9c2a3;
     padding: 25px 50px;
 }
.social img {
       padding-top: 15px;
 }
 .icon {
     width: 80px;
     padding-top: 10px;
 }
 #hero-img {
     width: 100%;
 }
 header {
    display: grid;
    grid-template-columns: 150px auto;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;

}
.logo {
    height:100px;
}
.card-img {
    background-color: #6f7364;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
    border-radius: 10px solid #d9c2a3;
    width: 100%;
    height: 300px;
}
 .mountains {
    width: 100%;
    width: 800px;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
    height: 300px;
}

.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    width: 100%;
    height: 300px;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
     
.rivers-card{
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card{
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card{
    grid-column: 8/10;
    grid-row: 2/3;
}
#background{
    grid-column: 1/11;
    grid-row: 4/9;
}
.mountains{
    grid-column: 2/7;
    grid-row: 5/8;
}
.msg{
    grid-column: 6/10;
    grid-row: 6/7;

}
ul a {
    text-align: center;
    text-decoration:none;
    color: #df8a1c;
    padding: 35px
     
 }
ul {
    display: flex;
    justify-content: space-around;
    background-color:rgba(20,30,13, .7);
    margin-top: 50px;
    box-shadow: 5px 5px 10px #6f7364;
}
h2{
    text-align: center;
}
p {
    text-align: center;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 100%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}