#feedback {
      background-color: antiquewhite;
      position: absolute;
      top: 0;
      left: 3em;
      right: 1em;
      padding: .5em;
      display: none;      
      }
  .moveDown {
      margin-top: 3em;
    }
  * {
      box-sizing: border-box;
    }
    

    body {
     font-family: Arial;
     font-size: 17px;
     background-color: #6f7364;
      color: #fff;
    }

    
    #pet {
      grid-column: 1/3;
      margin: 0 auto;
      width: 100%;
      height: 500px;
      
    }
    #pet img {
      width: 100%;
      height: 500px;
    }
  
    #lake {
        grid-column: 1/2;
        margin: 0 auto;
        width: 100%;
        height: 300px;
        }
      #lake img {
        width: 100%;
        height: 300px;
      }
      #lakedog{
        margin: 150px auto;
        width: 100%;
        padding: 10px;
      }
      
      #lakedog img{
        float: left;
        width: 300px;
        height: 260px;
        padding: 1px;

      }
      .text
      {
        text-align: justify;
        font-family: Verdana;

      }
      #catfriend{
        grid-column: 4/5;
        grid-row:3/4;
      }
      p{
        line-height: 30px;
        text-indent: 30px;
        font-size: 22px;
        

      }
      
.pet_family img {vertical-align: middle;}
.pet_family .pet {
      bottom: 0;
      background: rgb(0, 0, 0); /* Fallback color */
      background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
      color: #f1f1f1;
      width: 100%;
      padding: 20px;

    }
  
    .content{
      margin: 0 auto;
    }
#pet_family-img{
      grid-column: 1/3;
      grid-row: 1/2;
      width: 100%;
      height: 100%;
      }

   nav a{
      text-align: center;
      text-decoration: none;
      color: #df8a1c;
      padding: 35px
      
   }
   nav {
      display: flex;
      justify-content: space-around;
  }
   
   .home-tile{
       color: #d9c2a3;
       font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
       font-size: 2em;
       margin-top: 10px;
   }
   #hero-msg h1{
       text-align: center;
       width: 100%;
       color: whitesmoke;
       padding: 20px 0px 20px 0px;
  }
   #hero-msg h4{
       text-align: center;
       color: white;
  }

   #hero {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
    }
  
  #hero-box {
      grid-column: 1/4;
      grid-row: 1/3;
      z-index: -1;
  }
     #hero-msg{
      grid-column: 2/3;
      grid-row: 1/2;
      margin-top: 100px;
  }
  .main section{
       text-align: center;
       width: 100%;
   }
.main {
      display: grid;
      grid-template-columns: 1fr 1fr  1fr 1fr;
      grid-template-rows:auto auto auto;
      
   }
   .main-grid{
    display: grid;
    grid-template-columns: 1fr 1fr  1fr 1fr;
    grid-template-rows:auto auto auto;
    background-color: #6f7364;
      
   }
   .dogcat-img{
    columns: 1/2;
    grid-row: 1/2;
    margin-top: 10px;
    width: 100%;   
    }
   #oursite{
    grid-column: 1/2;
    grid-row: 2/3;
    padding:5px;
    
   }
   .petscare-img{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 10px;
    width: 100%;  
   }

   #oursite1{
    grid-column: 1/2;
    grid-row: 2/3;
    padding:5px;
    }
    .mountain-dog-img{
        grid-column: 3/4;
        grid-row: 2/3;
        margin-top: 10px;
        width: 100%;  
    }
    #oursite2{
        grid-column: 1/2;
        grid-row: 2/3;
        padding:5px;
        }
    .blog{
        display: grid;
        grid-template-columns: 1 fr 1 fr 2fr;
        background-color: #6f7364;
        
        
    }
    .lakedog{
        grid-column: 1/3;
        grid-row: 2/3;
        margin-top: 10px;
        width: 100%;  
       
    }
    .catnice{
      grid-column: 1/2;
      grid-row: 2/3;
      margin-top: 10px;
      width: 100%;  
     }
    .dognice{
      grid-column: 2/3;
      grid-row: 2/3;
      margin-top: 10px;
      width: 100%; 
    }
    #oursite7{
      grid-column: 3/4;
      grid-row: 1/2;
      padding: 5px;
    }
    #oursite8{
      grid-column: 3/4;
      grid-row: 2/4;
      padding: 5px;
    }

    #oursite4{
       grid-column: 1/3;
       grid-row: 1/2;
       padding: 5px;
       
    }
    #oursite5{
        grid-column: 1/2;
        grid-row: 2/4;
        padding: 5px;
    }
  
   #oursite6{
     grid-column: 2/3;
     grid-row: 3/4;
     padding: 5px;

   }

   .baddog{
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 10px;
    width: 100%;
    padding: 5px;
   }
   .news{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    background-color: #6f7364;

}
   #oursite9{
     grid-column: 1/2;
     grid-row: 2/3;
     padding: 5px;


    }
    .badcat{
     grid-column: 2/3;
     grid-row: 2/3;
     width: 100%;
     padding:5px;
    }
    #oursite10{
       grid-column: 2/3;
       grid-row: 1/2;
       padding: 5px;

    }
    .hungerdog{
       grid-column: 3/4;
       grid-row: 2/3;
       width: 100%;
       padding: 5px;

    }
    #oursite11{
        grid-column: 3/4;
        grid-row: 1/2;
        padding: 5px;

    }
   
   body {
       background-color: #fcfbfb;
       font-family: 'Fuzzy Bubbles', cursive;
       font-size: 22px;
       margin: 0;
       padding: 0;
   } 
  
   header {
       background-color:rgba(20,30,13, .7);
       display: grid;
       grid-template-columns: 150px auto;
   }
   nav a:hover {
       background-color: black;
       color: #d9c2a3;
   }
   .join {
       background-color: black;
       text-decoration: none;
       color: #d9c2a3;
       font-size: 18px;
       padding: 15px 30px;
       margin-top: 50px;
       border-radius: 5px;
   }
  
   main section img {
       box-sizing: border-box;
   }
    
   footer {
      background-color: #6f7364;
      padding: 25px 50px;
      margin-top: 200px; 
      display: flex;
      justify-content: space-around;
      align-items: center;
   }
   footer a {
        
        color: #d9c2a3;
   }
   footer a:hover{
       background-color:rgba(20,30,13, .7);
       text-decoration: underline;
       color: #d9c2a3;
       padding: 10px 10px;
   }
  .social img {
         padding-top: 15px;
   }
   .icon {
       width: 80px;
       padding-top: 10px;
   }
   
   header {
      display: grid;
      grid-template-columns: 150px auto;
  }
  #logo_link {
      padding-top: 5px;
      justify-self: center;
      align-self: center;
  
  }
  .logo {
      height:100px;
      margin-right:30px;
  }
  .card-img {
      background-color: #6f7364;
      padding: 35px;
      grid-column: 6/10;
      grid-row: 6/7;
      box-shadow: 5px 5px 10px #6f7364;
      border-radius: 10px solid #d9c2a3;
      width: 100%;
      height: 300px;
  }
    .feedback {
      background-color: antiquewhite;
      position: absolute;
      top: 0;
      left: 3em;
      right: 1em;
      padding: .5em;
      /* make this element invisible until we are ready for it */
      display: none;      
  }
  .moveDown {
      margin-top: 3em;
  }

.content{
      margin: 0 auto;
  }

.main-grid{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto auto auto;
  }
  #dogcat-img{
    grid-column: 1/2;
    grid-row: 1/2;
    
  }
  .dogcat-img{
    padding: 5px;
  }
  .petscare-img{
    padding: 5px;
  }
  .mountain-dog-img{
    padding: 5px;
  }
  #oursite{
    grid-column: 1/2;
    grid-row:2/4;
}
 
#pet{
    display: grid;
    grid-template-columns: 1fr;

}

#pet-title{
    margin : 0;
    height: 100%;
    z-index: 1;
    grid-column: 1/2;
    grid-row: 1/2;
    text-align:center;
    
}

#pet_family-img{
    grid-column: 1/2;
    grid-row: 1/2;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  padding:75px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

            * {box-sizing: border-box}
            
            /* Slideshow container */
            .slideshow-container {
               max-width: 100%;
               position: relative;
               margin: auto;
               padding:75px;
            }
              
            /* Next & previous buttons */
            .prev, .next {
              cursor: pointer;
              position: absolute;
              top: 50%;
              width: auto;
              padding: 16px;
              margin-top: -22px;
              color: white;
              font-weight: bold;
              font-size: 18px;
              transition: 0.6s ease;
              border-radius: 0 3px 3px 0;
              user-select: none;
            }
            
            /* Position the "next button" to the right */
            .next {
              right: 0;
              border-radius: 3px 0 0 3px;
            }
            
            /* On hover, add a black background color with a little bit see-through */
            .prev:hover, .next:hover {
              background-color: rgba(0,0,0,0.8);
            }
            
            /* Caption text */
            .text {
              color: #f2f2f2;
              font-size: 15px;
              padding: 8px 12px;
              position: absolute;
              bottom: 8px;
              width: 100%;
              text-align: center;
            }
            
            /* Number text (1/3 etc) */
            .numbertext {
              color: #f2f2f2;
              font-size: 12px;
              padding: 8px 12px;
              position: absolute;
              top: 0;
            }
            
            /* The dots/bullets/indicators */
            .dot {
              cursor: pointer;
              height: 15px;
              width: 15px;
              margin: 0 2px;
              background-color: #bbb;
              border-radius: 50%;
              display: inline-block;
              transition: background-color 0.6s ease;
            }
            
            .active, .dot:hover {
              background-color: #717171;
            }
            
            /* Fading animation */
            .fade {
              animation-name: fade;
              animation-duration: 1.5s;
            }
            
            @keyframes fade {
              from {opacity: .4} 
              to {opacity: 1}
            }
            
            /* On smaller screens, decrease text size */
            @media only screen and (max-width: 300px) {
              .prev, .next,.text {font-size: 11px}
            }

            .image-show{
                  grid-column: 1/3;
            }
           

       @media screen and (max-width: 900px) {
      #hero, .home-grid {
          display: block;
          height: auto;
      }
      nav, footer {
          flex-direction: column;
      }
      nav a {
          display: block;
          padding: 15px;
      }
      #hero {
          margin-top: 0;
      }
      #hero-msg {
          margin-top: 0;
      }
      #hero-msg h4 {
          display: none;
      }
      .home-title {
          font-size: 25px;
          color: #6f7364;
      }
      .rivers-card, .camping-card, .rapids-card { 
          margin: 50px auto;
          width: 60%;
      }
      #background {
          display: none;
      }
      .mountains, .msg {
          width: 100%;
          display: block;
          margin: 0 auto;
      }

      footer {
          margin-top: 25px;
      }
}